body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: #f1fff1;
}

h1 {
  font-weight: bolder;
  color: #23a393;
  font-size: 60px;
  font-family: 'Abel', sans-serif;
  letter-spacing: 4px;
  margin-bottom: 0px;
}

h2 {
  font-weight: lighter;
  margin-bottom: 0px;
  margin-top: 4px;
  font-family: 'Abel', sans-serif;
}

h3 {
  font-weight: normal;
  margin-bottom: 0px;
  font-family: 'Abel', sans-serif;
}


.inputSection {
  margin: 30px 0px 40px 0px;
  width: 400 px;

}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;

}

input {
  margin-top: 10px;
  border: 2px solid #555555;
  border-spacing: 2px;
  color: black;
  font-size: 16px;
}

.addOption {
  margin-bottom: 2px;
  align-items: center;
  background-color: #f1fff1;
   border: 1px solid #555555;
   color: black;
   padding: 2px 3px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 13px;
   margin-top: 4px;
   cursor: pointer;
}

.submit {
    background-color: #23a393;
    border: 2px solid #555555;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
    cursor: pointer;
}

.submit:hover {
    background-color: black;
    color: white;
}

.resultSection {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-family: 'Abel', sans-serif;
  font-weight: lighter;
}
